/*--------- GENERAL -------------*/
@font-face {
	font-family: GeorgeCafe;
	src: url(../fonts/LouisGeorgeCafe.ttf);
}
body {
	font-family: GeorgeCafe;
}

html {
	height: 100%;
}

/*------------- ARRIERE PLAN / VOILE----------------*/
.background {
	background-position: fixed;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}
img.loadVoile {
	position: fixed;
	top: 0%;
	z-index: 1;
	left: 0%; right: 0%;
}

/*------------- PRESENTATION ----------------*/
.aboutUs {
	position: absolute;
	top: 10vh;
	left: 0%; right: 0%;
	height: 80vh;
	background-color: transparent;
}

/*---------------- IMAGES ------------------*/
img.coffeeImg {
	position: absolute;
	top: 5vh;
	height: 25vw;
	right : 10%;
}
img.documentsImg {
	position: absolute;
	height: 60vw;
	left : 5%;
}
img.glassesImg {
	position: absolute;
	top: 60vw;
	height: 30vw;
	left : 12%;
}
img.presentationImg {
	position: absolute;
	top: 70vw;
	height: 70vw;
	right : 8%;
}
img.phoneImg {
	position: absolute;
	top: 120vw;
	height: 25vw;
	left : 15%;
}
