/*--------- GENERAL -------------*/
@font-face {
	font-family: GeorgeCafe;
	src: url(../fonts/LouisGeorgeCafe.ttf);
}
body {
	font-family: GeorgeCafe;
}

html {
	height: 100%;
}

/*------------- ARRIERE PLAN / VOILE----------------*/
.background {
	background-position: fixed;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}
img.loadVoile {
	position: fixed;
	display: block;
	top: 0; left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
}

/*------------- PRESENTATION ----------------*/
.aboutUs {
	position: absolute;
	top: 10vh;
	left: 0%; right: 0%;
	height: 80vh;
	background-color: transparent;
}

/*---------------- IMAGES ------------------*/

/*--- coffee ---*/
img.coffeeImg {
	position: absolute;
	top: 5vh;
	height: 25vw;
	right : 10%;
	transition-duration: 0.4s;
}
img.coffeeImg:hover {
	transform: translate(15px);
	cursor: pointer;
}
.teamTxt {
	position: absolute;
	top: 0vh;
	right : 10%;
	width: 15vw; height: 2.5vw;
	font-size: 2vw;
	text-align: center;
	color: white;
	background-color: black;
	transition-duration: 0.4s;
	transform: translate(1vw) skewY(-5deg);
	pointer-events: none;
}
.teamTxtFull {
	position: absolute;
	top: 7vh;
	right : 4%;
	height: 25vw; width: 23vw;
	opacity: 0;
	font-size: 1vw;
	padding: 1vw;
	overflow: hidden;
	transition-duration: 0.4s;
	background-color: white;
	pointer-events: none;
}

/*--- documents ---*/
img.document1Img {
	position: absolute;
	height: 60vw;
	left : 20%;
}
img.document2Img {
	position: absolute;
	height: 60vw;
	left : 5%;
	transition-duration: 0.4s;
}
img.document2Img:hover {
	transform: rotate(5deg);
	cursor: default;
}
.storyTxt {
	position: absolute;
	top: 1vw;
	left : 16%;
	width: 15vw; height: 2.5vw;
	font-size: 2vw;
	text-align: center;
	color: white;
	background-color: black;
	transition-duration: 0.4s;
	transform: translate(1vw) skewY(5deg) rotate(-12deg);
	pointer-events: none;
}
.storyTxtFull {
	position: absolute;
	top: 6vw;
	left : 14.5%;
	height: 45vw; width: 27vw;
	opacity: 0;
	font-size: 1vw;
	padding: 1vw;
	overflow: hidden;
	transition-duration: 0.4s;
	transform: rotate(-16deg);
	background-color: #ebf0f4;
	pointer-events: none;
}


/*--- glasses ---*/
img.glassesImg {
	position: absolute;
	top: 60vw;
	height: 30vw;
	left : 12%;
	transition-duration: 0.4s;
}
img.glassesImg:hover {
	transform: rotate(3deg) translate(-20px);
}
img.presentationImg {
	position: absolute;
	top: 70vw;
	height: 60vw;
	right : 8%;
}
img.phoneImg {
	position: absolute;
	top: 110vw;
	height: 25vw;
	left : 15%;
	transition-duration: 0.4s;
}
img.phoneImg:hover {
	transform: rotate(-6deg) translate(-5px);
}



/*--------------- PAGES -----------------*/
img.page1 {
	position: absolute;
	top: 76vw;
	height: 48vw;
	right : 9.85%;
}
.cvHusain {
	position: absolute;
	top: 76vw;
	height: 48vw;
	right : 9.85%;	
}
img.pageTear {
	position: absolute;
	opacity: 0;
	top: 72.5vw;
	height: 3.76vw;
	right : 9.45%;
}

/*------------- PAGE CONTROL --------------*/
.leftPage {
	position: absolute;
	top: 95vw;
	left: 50%; right: 45%;
	height: 5vw;
	background-color: grey;
}
.leftPage:hover {
	background-color: red;
	cursor: pointer;
}
.rightPage {
	position: absolute;
	top: 95vw;
	left: 90%; right: 5%;
	height: 5vw;
	background-color: grey;
}
.rightPage:hover {
	background-color: red;
	cursor: pointer;
}


/*------------- KEYFRAME ANIMATION --------------*/