/*--------- GENERAL -------------*/
@font-face {
	font-family: GeorgeCafe;
	src: url(../fonts/LouisGeorgeCafe.ttf);
}
body {
	font-family: GeorgeCafe;
}
p {
	font-size: 1vw;
}

/*----------- ARRIERE PLAN / VOILE ------------------*/
.voile {
	z-index: 1;
	position: fixed;
	top: 0vh;
	left: 0vh;
	right: 0vh;
	bottom: 0vh;
	background-color: #3e4b61;
}

.background {
	margin-top: 100px;
	background-position: fixed;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}


/*--------- IMAGES ACCUEIL ----------------*/
#indexImages {
	position: absolute;
	top: 10vw;
	left: 20vw;
	right: 20vw;
	bottom: 20vw;
}
img.logo {
	display: block;
	margin: 10vh auto;
	width: 49%;
	opacity: 0;
}
img.separation {
	display: block;
	margin: 0 auto;
	width: 50%;
	opacity: 0;
	filter: brightness(1);
	cursor: pointer;
	transition-duration: 0.2s;
}
img.separation:hover {
	filter: brightness(0.5);
	cursor: pointer;
}



/*------------- PRESENTATION --------------*/
.presentation {
	position: absolute;
	text-align: center;
	margin-top: 5vw; left: 0; right: 0;
	height: 100vw;
	padding: 1vw;
	background-color: #ebf5ff;
	border-top: 5px solid #1D3A59;
}
h1.titlePresentation {
	font-size: 3vw;
	color: #1d3a59;
	cursor: default;
}

.votreSecurite, .notreMission { /*Change couleurs "Securité" & "Mission"*/
	transition-duration: 0.4s;
}.votreSecurite:hover {
	transition-duration: 0.4s;
	color: #378a88;
}.notreMission:hover {
	transition-duration: 0.4s;
	color: #8a3762;
}

p.textePresentation {
	position: relative;
	color: #617487;
	font-size: 1.2vw;
	border-bottom: 2px solid grey;
}

/*-- images complementaires --*/
.imagesPresentation {
	position: relative;
	height: 23vw;
}
.divImages {
	display: inline-block;
	margin: 2vw;
	width: 25vw;
}
.divImages img {
	height: 10vw;
}
.textImages {
	font-size: 1.8vw;
	color: #78a63f;
}

/*-- image separation --*/
img.separation2 {
	display: block;
	margin: 0 auto;
	width: 50%;
	opacity: 1;
	filter: brightness(1);
	cursor: pointer;
}
img.separation2:hover {
	filter: brightness(0.5);
	cursor: pointer;
}



/*------------- NOS PRODUITS --------------*/
.presProduits {
	position: relative;
	margin-top: 55vw;
	max-width: 100%;
	height: 50vw;
	text-align: center;
}
img.meetingImg {
	position: relative;
	width: 100%;
}
.discoverProducts {
	position: absolute;
	background-color: #c4b19b;
	top: 8vw; left: 25vw;
	height: 8.2vw;
	width: 50vw;
	transition-duration: 0.4s;
	box-shadow: 0px 10px 13px -7px #000000, 4px 4px 0px 1px rgba(168,48,17,0);
}
.discoverProducts:hover {
	background-color: #dea15d;
	transform: scale(1.1);
	border-radius: 100px;
	cursor: pointer;
}
.discoverTxt {
	font-size : 2.5vw;
	color: #ffedd9;
	pointer-events: none;
}