/*---------- NAVIGATION BARRE (principale) ----------------*/
.navbar {
	position: fixed;
	z-index: 1;
	top: 0vh;
	left: 0vh;
	height: 5vh;
	width: 100%;
	opacity: 0;
	background-color: #ebf5ff;
	transition: background-color 0.4s ease;
}



/*-------------- INDEX ------------*/
img.indexImg {
	position: absolute;
	top: 0vh;
	left: 0vh;
	max-height: 5vh;
	cursor: pointer;
	transition-duration: 0.2s
}
img.indexImg:hover {
	cursor: pointer;
	transform: rotate(-20deg);
}



/*------------- CATEGORIES (texte) -----------*/
ul.ulNavbar {
	margin: 0 auto;
	width: 100%;
	padding: 0 6vh;
	list-style-type: none;
	overflow: hidden;
}
li.liNavbar {
	display: inline-block;
}
li.liNavbar a.aNavbar {
	display: block;
	padding: 0.7vh 12.3vh;
	font-size: 3vh;
	color: #2b3a47;
	text-decoration: none;
	transition-duration: 0.2s;
}
li.liNavbar a.aNavbar:hover {
	background-color: #dae5f0;
	transform: scale(1.03);
}

/*---------- Dropdown menu ---------*/
.dropdown {
	position: absolute;
	display: none;
	top: 5vh;
	background-color: #ebf5ff;
	transition-duration: 0.2s;
}
.aPropos:hover .dropdown {
	display: block;
}



/*-------------- SEARCH ------------*/
img.loupeImg {
	position: absolute;
	top: 0vh;
	right: 5vh;
	max-height: 5vh;
	cursor: pointer;
	transition-duration: 0.2s
}
img.loupeImg:hover {
	cursor: pointer;
	transform: rotate(20deg);
}



/*-------------- MENU ------------*/
img.menuImg {
	position: absolute;
	top: 0vh;
	right: 0vh;
	max-height: 5vh;
	cursor: pointer;
	transition-duration: 0.2s
}
img.menuImg:hover {
	cursor: pointer;
	transform: rotate(-20deg);
}



/*------------- MEDIA SCREEN -----------*/
@media screen and (max-width : 1900px) {
	li.liNavbar a.aNavbar {
		padding: 0.7vh 9vh;
	}
}
@media screen and (max-width : 1450px) {
	li.liNavbar a.aNavbar {
		padding: 0.7vh 5vh;
	}
}
@media screen and (max-width : 1100px) {
	.navbar {
		height: 20vh;
	}
	li.liNavbar a.aNavbar {
		padding: 0.7vh 20vh;
	}
}