/*---------- NAVIGATION BARRE (principale) ----------------*/
.navbar {
	position: fixed;
	z-index: 1;
	top: 0vh;
	left: 0vh;
	height: 2.5vw;
	width: 100%;
	opacity: 0;
	background-color: #ebf5ff;
	transition: background-color 0.4s ease;
	filter: invert(0);
}



/*-------------- INDEX ------------*/
img.indexImg {
	position: absolute;
	top: 0vh;
	left: 0vh;
	max-height: 2.5vw;
	cursor: pointer;
	transition-duration: 0.2s
}
img.indexImg:hover {
	cursor: pointer;
	transform: rotate(-20deg);
}



/*------------- CATEGORIES (texte) -----------*/
ul.ulNavbar {
	margin: 0 auto;
	width: 100%;
	padding: 0 3vw;
	list-style-type: none;
	overflow: hidden;
}
li.liNavbar {
	display: inline-block;
}
li.liNavbar a.aNavbar {
	display: block;
	padding: 0.35vw 10vw;
	font-size: 1.6vw;
	color: #2b3a47;
	text-decoration: none;
	transition-duration: 0.2s;
}
li.liNavbar a.aNavbar:hover {
	background-color: #dae5f0;
	transform: scale(1.03);
}

/*---------- Dropdown menu ---------*/
.dropdown {
	position: absolute;
	display: none;
	top: 2.5vw;
	background-color: #ebf5ff;
	transition-duration: 0.2s;
}
.aPropos:hover .dropdown {
	display: block;
}



/*-------------- SEARCH ------------*/
img.loupeImg {
	position: absolute;
	top: 0vh;
	right: 2.5vw;
	max-height: 2.5vw;
	cursor: pointer;
	transition-duration: 0.2s
}
img.loupeImg:hover {
	cursor: pointer;
	transform: rotate(20deg);
}



/*-------------- MENU ------------*/
img.menuImg {
	position: absolute;
	top: 0;
	right: 0;
	max-height: 2.5vw;
	cursor: pointer;
	transition-duration: 0.2s
}
img.menuImg:hover {
	cursor: pointer;
	transform: rotate(-20deg);
}