/*--------- GENERAL -------------*/
@font-face {
	font-family: GeorgeCafe;
	src: url(../fonts/LouisGeorgeCafe.ttf);
}
body {
	font-family: GeorgeCafe;
}

a {
	text-decoration: none;
	color: inherit;
}

/*---------- ARRIERE PLAN / ERREUR / IMPORT ----------------*/
.background {
	background-attachment: local, scroll;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #dfeaf5;
}
.invalidParamVoile {
	z-index: 1;
	position: fixed;
	height: 100vh;
	top: 5vh;
	left: 0%; right: 0%;
	background: linear-gradient(#e8f6ff, #f24235);
	background-size: cover;
	outline: 1px solid grey;
	opacity: 0;
	display: block;
}
img.errorImg {
	position: relative;
	display: block;
	margin: 10vh auto;
	height: 20vh;
}
.errorTxt {
	position: relative;
	margin: 0 auto;
	color: #718b99;
	text-align: center;
	font-size: 3vh;
}
/*--- Bouton retour  ---*/
.returnToSearch {
	position: absolute;
	top: 3vw;
	height: 3vw;
	left: 1vw;
	width: 15vw;
	color: #435863;
	transition-duration: 0.2s;
	cursor: pointer;
}
.returnToSearch:hover {
	transform: scale(1.03);
}
img.arrowImg {
	position: absolute;
	top: .8vw;
	height: 1.5vw;
}
.returnTxt {
	position: relative;
	margin: .8vw;
	left: 1.5vw;
	font-size: 1vw;
}

/*-------------- PRODUIT -----------------*/
.productInfo {
	position: relative;
	top: 5vw;
	height: 35vw;
	max-width: 100%;
	margin: 3vw;
	background-color: #d4fcff;
	background: linear-gradient(0.5turn, #d9ecff, #ebf5ff, #d9ecff);
	box-shadow: 1px 1px 10px 3px #b6c7db;
}

/*------------- IMAGES(s) -----------------*/
img.image {
	position: absolute;
	display: block;
	margin: 2vw 2vw;
	width: 31vw;
}

/*-------------- TEXTE ------------------*/
#title {
	position: absolute;
	font-size: 3vw;
	color: #57626e;
	margin: 2vh 0%;
	width: 100%;
	text-align: center;
}
.price {
	position: absolute;
	font-size: 2.5vw;
	top: 0vh;
	right: 4vh;
	text-align: center;
	color: #68798c;
}
.description {
	position: absolute;
	font-size: 1.2vw;
	color: #3b5b5c;
	margin: 10vw 40%;
	width: 55%;
	max-height: 60%;
	text-align: left;
	overflow-x: none;
	overflow-y: auto;
}
.addToCart {
	position: absolute;
	top: 6vw;
	right: 0vh;
	height: 3vw;
	width: 13vw;
	font-size: 1vw;
	text-align: center;
	background-color: #cfe3fa;
	transition-duration: 0.3s
}
.addToCart:hover {
	background-color: #d7e8fc;
	cursor: pointer;
}

/*-------------- FEEDBACK ------------------*/
.feedback {
	position: relative;
	font-size: 1.5vw;
	color: #325557;
	top: 10vw;
	max-width: 100%;
	margin: 2vw;
	text-align: left;
}
.feedbackBox {
	position: relative;
	border-radius: 10px;
	margin-bottom: 3vw;
	background-color: #edf5ff;
}
.userFeedback {
	position: relative;
	padding: .5vw;
	padding-left: 1vw;
}
.user {
	font-size: 1.2vw;
	color: #32446e;
}
.comment {
	font-size: 1.1vw;
	color: #20393b;
}
.note {
	color: #30696e;
	font-size: .9vw;
}

/*-- send feedback --*/
.sendFeedback {
	position: relative;
	display: block;
	margin-top: 10vw;
	margin-bottom: 15vw;
}
.usernameFeedback {
	border-radius: 10px;
	padding: .5vw; 
	width: 60vw;
	height: 1.3vw;
	font-family: GeorgeCafe;
	font-size: 1vw;
	resize: none;
}
.textFeedback {
	border-radius: 10px;
	padding: .5vw; 
	width: 60vw;
	height: 15vw;
	font-family: GeorgeCafe;
	font-size: 1vw;
	resize: none;
}
.buttonFeedback {
	position: absolute;
	top: 23vw;
	left: 53vw;
	width: 8vw;
	height: 2.5vw;
	font-size: .7vw;
}

/*-- stars rating --*/
.starRatingTxt {
	font-size: 1.5vw;
}
.starBox {
	position: relative;
	cursor: default;
	width: 20vw;
}
.starImg {
	width: 1.5vw;
	height: 1.5vw;
	position: relative;
	transition-duration: 0.2s;
}
.starImg:hover, .starImg.hovered {
	cursor: pointer;
	filter: invert(1);
}
.feedbackNote {
	position: relative;
	top: -0.4vw;
	border: hidden;
	background: transparent;
	width: 1.5vw;
	font-size: .8vw;
}

/*-------------- CHECKOUT ------------------*/
.checkout {
	z-index: 1;
	position: fixed;
	top: 4vw;
	left: 100%;
	height: 40vw;
	width: 20vw;
	background-color: #ebf5ff;
	font-size: .8vw;
	transition-duration: 0.3s;
}
img.cartImg {
	position: fixed;
	top: 4vw;
	right: 0%;
	width: 5vw;
	height: 4.5vw;
	opacity: 1;
	background-color: #ebf5ff;
	box-shadow: -3px 0px 3px 1px #b6c7db;
	transition-duration: 0.3s;
}
.cartTxt {
	position: relative;
	margin: 1vw auto;
	font-size: 2vw;
	text-align: center;
}
.itemsTxt {
	position: relative;
	margin: 1vw auto;
	font-size: 1.2vw;
	list-style-type: none;
	background-color: white;
}
.submitCart {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 5vw;
	font-size: 1.5vw;
	border: none;
	background-color: #7cc0cc;
}