/*--------- GENERAL -------------*/
@font-face {
	font-family: GeorgeCafe;
	src: url(../fonts/LouisGeorgeCafe.ttf);
}
body {
	font-family: GeorgeCafe;
}

html {
	height: 100%;
}

/*------------ ARRIERE PLAN -----------------*/
.background {
	background-color: #dfeaf5;
	background-attachment: local, scroll;
	background-repeat: no-repeat;
	background-size: cover;
}

/*------------ CATEGORIES -----------------*/
.categories {
	position: absolute;
	top: 6vh;
	left: 0vh; right: 85%;
	height: 100%;
	border-radius: 20px;
	background-color: #e9f0f7;
	box-shadow: 1px 1px 10px 3px #cad4de;
}

/*------------ RESULTATS -----------------*/
.resultContainer {
	position: absolute;
	top: 6vh;
	left: 16%; right: 16%;
	height: 16%;
	border-radius: 20px;
	background-color: #e9f0f7;
	box-shadow: 1px 1px 10px 3px #cad4de;
}
.result {
	position: relative;
	top: 2vh;
	left: 3%;
	width: 100%;
	font-size: 2.5vh;
	color: #44535c;

	background-color: transparent;
}
.itemContainer {
	position: relative;
	width: 100%;
	text-align: center;
	top: 5vh;
	padding-top: 5vh;
	padding-bottom: 10vh;
	border-radius: 20px;
	overflow: scroll;
	overflow-y: hidden;
	overflow-x: hidden;
	background-color: #cadded;
	box-shadow: 1px 1px 10px 3px #b3cde3;
}
.item {
	position: relative;
	display: inline-block;
	margin-top: 3vh; margin-left: 3vh;
	width: 35vh;
	height: 35vh;
	border-radius: 30px;
	background-color: #d0e3f2;
	cursor: pointer;
	transition-duration: 0.4s;
}
img.itemImg {
	position: relative;
	top: 1vh;
	height: 90%;
	width: 90%;
	filter: none;
}
.itemInfo {
	position: absolute;
	top: -3%;
	opacity: 0;
	border-radius: 20px;
	left: 0%; right: 0%; bottom: 0vh;
	color: #354654;
	pointer-events: none;
}
.hovered {
	background-color: white;
}
.itemName {
	position: relative;
	top: 1vh;
	font-size: 4vh;
	color: #26394a;
}
.itemDescription {
	position: relative;
	top: -2vh;
	height: 22vh;
	width: 100vh;
	display: table-cell;
    vertical-align: middle;
	font-size: 2vh;
	overflow: hidden;
}
.itemPrice {
	position: relative;
	display: inline-block;
	top: -3vh;
	left: -7vh;
	font-size: 2vh;
}
.itemRating {
	position: relative;
	display: inline-block;
	top: -3.2vh;
	left: 7vh;
	font-size: 1.5vh;
}
img.ratingImg {
	position: relative;
	display: inline-block;
	top: -2.5vh;
	left: 7.5vh;
	height: 2.5vh;
	width: 2.5vh:
}