/*--------- GENERAL -------------*/
@font-face {
	font-family: GeorgeCafe;
	src: url(../fonts/LouisGeorgeCafe.ttf);
}
body {
	font-family: GeorgeCafe;
}



/*------------ ARRIERE PLAN -----------------*/
.background {
	background-color: #dfeaf5;
	background-attachment: local, scroll;
	background-repeat: no-repeat;
	background-size: cover;
}


/*------------ CATEGORIES -----------------*/
.categories {
	position: absolute;
	top: 3vw;
	width: 15vw;
	height: 30vw;
	border-radius: 20px;
	background-color: #e9f0f7;
	box-shadow: 1px 1px 10px 3px #cad4de;
}


/*------------ RESULTATS -----------------*/
.resultContainer {
	position: relative;
	top: 2.6vw;
	left: 16vw;
	width: 70vw;
	height: 100%;
	border-radius: 20px;
	background-color: #e9f0f7;
	box-shadow: 1px 1px 10px 3px #cad4de;
}
.result {
	position: relative;
	top: 1.5vw;
	left: 1.5vw;
	width: 70vw;
	font-size: 1.3vw;
	color: #44535c;
	background-color: transparent;
}
.itemContainer {
	position: relative;
	width: 70vw;
	text-align: center;
	top: 3vw;
	padding-top: 2vw;
	padding-bottom: 5vw;
	margin-bottom: 10vw;
	border-radius: 20px;
	overflow: scroll;
	overflow-y: hidden;
	overflow-x: hidden;
	background-color: #cadded;
	box-shadow: 1px 1px 10px 3px #b3cde3;
}
.item {
	position: relative;
	display: inline-block;
	margin-top: 2vw; margin-left: 2.5vw;
	width: 17vw;
	height: 17vw;
	border-radius: 30px;
	background-color: #d0e3f2;
	cursor: pointer;
	transition-duration: 0.4s;
}
img.itemImg {
	position: relative;
	top: .8vw;
	height: 90%;
	width: 90%;
	filter: none;
}
.itemInfo {
	position: absolute;
	top: -1vw;
	opacity: 0;
	border-radius: 20px;
	color: #354654;
	pointer-events: none;
}
.hovered {
	background-color: white;
}
.itemName {
	position: relative;
	top: .5vw;
	font-size: 2vw;
	color: #26394a;
}
.itemDescription {
	position: relative;
	top: -1vw;
	height: 10vw;
	display: table-cell;
	vertical-align: middle;
	font-size: 1vw;
	overflow: hidden;
}
.itemPrice {
	position: relative;
	width: 8vw;
	bottom: 1vw;
	left: 2vw;
	text-align: left;
	font-size: 1vw;
}
.itemRating {
	position: relative;
	bottom: 3vw;
	right: -4.8vw;
	font-size: .8vw;
}
img.ratingImg {
	position: relative;
	bottom: 5vw;
	right: -6.5vw;
	height: 1.3vw;
	width: 1.3vw:
}