.searchPanel {
	position: fixed;
	top: 3vw;
	left: 25vw; right: 25vw;
	height: 3.4vw;
	opacity: 1;
	border-radius: 100px;
	background-color: #ebf5ff;
}
.search {
	position: absolute;
	cursor: text;
	left: 2vw;
	height: 3.2vw;
	width: 92%;
	border: none;
	background: transparent;

	font-size: 2.1vw;
	color: #5f6f73;
}
.decorationSearch {
	position: absolute;
	top: 2.8vw;
	left: 2vw; right: 2vw;
	height: .08vw;
	background-color: #abbec4;
}

/*--- Suggestions ---*/
.suggest {
	position: absolute;
	display: block;
	top: 2vw;
	right: 2vw;
	left: 2vw;
	padding-left: 0;

	cursor: pointer;
	list-style-type: none;
	border-radius: 10px;
	background-color: #ebf5ff;
	transition-duration: 0.4s;
}
li.liSuggest a.aSuggest {
	display: block;
	border-radius: 10px;
	padding: 1vw 2vw;
	text-decoration: none;
	color: #5f6f73;
	font-size: 1.5vw;
	transition: background-color 0.2s ease;
}
li.liSuggest a.aSuggest:hover {
	background-color: #6d8094;
	color: white;
}